<div class="container">
    <h2 class="my-5 text-uppercase text-center">About <span class=" text-theme-colored">Us.</span></h2>
    <div class="row" style="align-items: center;">
        <div class="col-lg-6 col-12">
            <p class="text-color">
                THE GOD’S HAND was set up to support small and mid-sized NGOs,
                Organisations. We are a bridge between people who are interested in making a
                difference and organizations working on the ground to effect it. Our transparent
                and secure online donation medium help donors support causes that matter
                and assist them in making strategic, and effective grants. We partner with some
                of the most trusted charity organizations in the world and ensure that they have
                the necessary funds, training, and support needed to enhance their outreach
                and impact.
            </p>
            <p class="text-color">We follow the principles of transparency and accountability in all our work. We
                are accountable to our donors and beneficiaries on how the funds are utilized.
                Our non-profit partners across geographical and thematic areas follow norms
                of good governance and go through a thoughtfully designed due diligence
                process that is focussed on finding and strengthening groups that can make
                the most difference in their communities.</p>

        </div>
        <div class="col-lg-6 col-12 text-center">
            <img src="../../assets/mission.jpg" style="height: 270px;" alt="">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-12 text-center">
            <img src="../../assets/logo3.svg" style="height: 300px;" alt="">
        </div>
        <div class="col-lg-6 col-12">
            <h2>How You Can Help?</h2>
            <p class="lead text-theme-colored">Your support will help us to make life better living for poor vulnerable
                children.</p>
            <p class="text-color">There are soo many ways to help all those who are connected with us, one of
                them is to donate through our online direct payment system where your funds
                get directly transferred to the bank account of a selected NGO or organization.
                We are here to mediate the entire process after doing in-depth research on the
                authenticity of organizations and NGOs.</p>
        </div>
    </div>

</div>