.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}
.top-bar {
    padding: .5rem 0;
    background: #546E7A;
}
.top-bar a {
    color: #fff;
}

.sticky-wrapper .site-navbar {
    background-color: #f5f5f5;
}
.sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.site-navbar {
    margin-bottom: 0;
    z-index: 1999;
    position: relative;
    width: 100%;
    padding: 0.5rem;
}

.site-navbar .site-logo {
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
}
.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
}
.site-navbar .site-navigation .site-menu>li>a {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0;
    color:#888!important;
    display: inline-block;
    text-decoration: none!important;
}

.sticky-wrapper{
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 999;
}

.site-menu-sm li{
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}
.nav-link {
    padding: 1rem 1rem;
    color: #546E7A !important;
}

.input-group-addon{
    height: calc(1.5em + 0.75rem + 2px);
    line-height: calc(1.5em + 0.75rem + 2px);
    width: 30px;
    background-color: #f1f1f1;
    text-align: center;
    font-weight: 500;
    color: #565656;
}
@media (max-width: 991px)
{
    .my-open{
        right:0px;
    }
    .my-close{
        right:-100%;
    }
    .my-width{
        width: 100%;
    }
    .wi-input{
        width: 100%;
    }
}
@media (min-width: 992px)
{
    .my-open{
        right:0px;
    }
    .my-close{
        right:-35%;
    }
    .my-width{
        width: 35%;
    }
    .wi-input{
        width: 50%;
    }
}


.btn-theme-colored {
    color: #fff;
    background-color: #546E7A;
    border-color: #546E7A;
}